In [2]:
import pandas as pd
from  matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
#Read Data
data = pd.read_csv("c:\\Global_plastic_production.csv")
data

   Entity      Code  Year       GPWP
0   World  OWID_WRL  1950    2000000
1   World  OWID_WRL  1951    2000000
2   World  OWID_WRL  1952    2000000
3   World  OWID_WRL  1953    3000000
4   World  OWID_WRL  1954    3000000
..    ...       ...   ...        ...
61  World  OWID_WRL  2011  325000000
62  World  OWID_WRL  2012  338000000
63  World  OWID_WRL  2013  352000000
64  World  OWID_WRL  2014  367000000
65  World  OWID_WRL  2015  381000000

[66 rows x 4 columns]

In [5]:
data.corr()

         Year     GPWP
Year  1.00000  0.95098
GPWP  0.95098  1.00000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Entity  66 non-null     object
 1   Code    66 non-null     object
 2   Year    66 non-null     int64
 3   GPWP    66 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.2+ KB